.modal-body {
    display: flex;
    flex-direction: column;
}

.event-body {
    display: flex;
    flex-direction: row;
}

.border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: cornflowerblue !important;
}