<!DOCTYPE html>
<html>
<head>
<style>
/* Add media queries for smaller screens */
/*Move to Calendar Component*/
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
</style>
</head>

<!-- Move to Weather Card Component bootstrap link: https://mdbootstrap.com/docs/standard/extended/weather/ -->
<body>

    <section class="vh-20" style="background-color: #205567;">
        <div class="container py-5 h-100">
      
          <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
            <div class="col-md-9 col-lg-7 col-xl-5">
             
      
              <div class="card" style="border-radius: 25px;">
                <div class="card-body p-4">
      
                  <div id="demo3" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators mb-0">
                      <li data-target="#demo3" data-slide-to="0"></li>
                      <li data-target="#demo3" data-slide-to="1"></li>
                      <li data-target="#demo3" data-slide-to="2" class="active"></li>
                    </ul>
                    <!-- Carousel inner -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                          <div class="flex-column">
                            <p class="small"><strong>21°F</strong></p>
                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong>Mon</strong></p>
                          </div>
                          <div class="flex-column">
                            <p class="small"><strong>20°F</strong></p>
                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong>Tue</strong></p>
                          </div>
                          <div class="flex-column">
                            <p class="small"><strong>16°F</strong></p>
                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong>Wed</strong></p>
                          </div>
                          <div class="flex-column">
                            <p class="small"><strong>17°F</strong></p>
                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong>Thu</strong></p>
                          </div>
                          <div class="flex-column">
                            <p class="small"><strong>18°F</strong></p>
                            <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong>Fri</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
      </section>
      <!-- Move to Weather Card Component -->

<div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      March<br>
      <span style="font-size:18px">2023</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">  
  <li><a class="nav-link" href="home">27</a></li>
  <li><a class="nav-link" href="home">28</a>  </li>
  <li><a class="nav-link" href="home">1</a></li>
  <li><a class="nav-link" href="home">2</a></li>
  <li><a class="nav-link" href="home">3</a></li>
  <li><a class="nav-link" href="home">4</a></li>
  <li><a class="nav-link" href="home">5</a></li>
  <li><a class="nav-link" href="home">6</a></li>
  <li><span class="active"><a>7</a></span></li>
  <li><a class="nav-link" href="home">8</a></li>
  <li><a class="nav-link" href="home">9</a></li>
  <li><a class="nav-link" href="home">10</a></li>
  <li><a class="nav-link" href="home">11</a></li>
  <li><a class="nav-link" href="home">12</a></li>
  <li><a class="nav-link" href="home">13</a></li>
  <li><a class="nav-link" href="home">14</a></li>
  <li><a class="nav-link" href="home">15</a></li>
  <li><a class="nav-link" href="home">16</a></li>
  <li><a class="nav-link" href="home">17</a></li>
  <li><a class="nav-link" href="home">18</a></li>
  <li><a class="nav-link" href="home">19</a></li>
  <li><a class="nav-link" href="home">20</a></li>
  <li><a class="nav-link" href="home">21</a></li>
  <li><a class="nav-link" href="home">22</a></li>
  <li><a class="nav-link" href="home">23</a></li>
  <li><a class="nav-link" href="home">24</a></li>
  <li><a class="nav-link" href="home">25</a></li>
  <li><a class="nav-link" href="home">26</a></li>
  <li><a class="nav-link" href="home">27</a></li>
  <li><a class="nav-link" href="home">28</a></li>
  <li><a class="nav-link" href="home">29</a></li>
  <li><a class="nav-link" href="home">30</a></li>
  <li><a class="nav-link" href="home">31</a></li>
  <li><a class="nav-link" href="home">1</a></li>
  <li><a class="nav-link" href="home">2</a></li>
</ul>
</body>
<!--move to calendarr-->

<div class = "logo">
    <img  src= "/assets/download.png"  alt="App Logo">
</div>


</html>
