<sc-topnavbar>Loading...</sc-topnavbar>

<div class="month-control-row">
    <div class="column">
        <button type="button" class="button" (click)="calendar = previousMonth(date.getFullYear(), date.getMonth())">
            <span>Last Month</span>
        </button>
    </div>
    <div class="column" id="middle">
        <span style="font-size: larger; font-weight: bold; color: black">{{monthName}} {{date.getFullYear()}}</span>
    </div>
    <div class="column">
        <button type="button" class="button" (click)="calendar = nextMonth(date.getFullYear(), date.getMonth())">
            <span>Next Month</span>
        </button>
    </div>
</div>
<calendar-header></calendar-header>
<div class="calendar-month-grid">
    <div class="calendar-days">
        <div class="calendar-row" *ngFor="let row of calendar">
            <div class="calendar-day-cell" *ngFor="let day of row.days">
               
                    <span aria-hidden="true">
                        <span class="calendar-day-number"> 
                            {{day.date.getDate()}}  
                            <app-detail-view 
                            id = {{day.date.getDate()}} 
                            month = {{day.date.getMonth()}} 
                            year = {{day.date.getFullYear()}}
                            date = {{day.date.getMonth()}}{{day.date.getDate()}}{{day.date.getFullYear()}} >
                               
                            </app-detail-view>
                        </span>
                    </span>
               
            </div>
        </div>
    </div>
</div>